body{
    background-color: var(--secondary_color_light);
}
header{
    background-color: var(--primary_color_light);
}
.navlink{
    color: var(--secondary_color_light);
}
.navlink:hover{
    color: white;
}
#banner{
    background-image:url('../images/banner-light.jpg');
}
h2{
    color: white;
}
footer{
    background-color: var(--primary_color_light);
}