@font-face{
    font-family: "baan";
    src: url("../fonts/baan.ttf") format("truetype");
}
:root{
    --primary_color_light: ;
    --secondary_color_light: ;
    --primary_color_dark: ;
    --secondary_color_dark: ;

}
